body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #c1aeae, #bbbb3e);
}
.container {
    border: 1px solid black;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}

.taskList {
    border: 1px solid;
    width: 90%;
    margin: 10px auto;
}

.taskList ul {
    padding-inline-start: 0px;
    list-style-type: none;
    text-align: left;
}

.taskList ul li {
    border: 1px solid;
    padding: 10px;
    margin: 10px 15px;
    color: brown;
    overflow: auto;
}

.taskList ul li button {
    float: right;
    color: #952929;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-color: #8dab8e;
}

#input {
    width: 60%;
    margin: 10px;
    padding: 7px 10px;
    border: none;
    border-bottom: 2px solid;
    font-size: 1.2rem;
    background-color: #aabb5f;
}
#input:focus {
    outline: none;
    border-bottom: 2px solid;
}
#addTask {
    padding: 5px;
    font-size: 15px;
    color: darkgreen;
    background-color: #aabb5f;
    cursor: pointer;
}